<nav class="header">
  <a class="logo" routerLink="home">MySQL-BLOG</a>

  <div class="header-right">
    <a *ngIf="loginButton" routerLink="home" routerLinkActive="active">Home</a>
    <a *ngIf="logoutButton" routerLink="home" routerLinkActive="active">Home</a>
    <a *ngIf="logoutButton" routerLink="dashboard" routerLinkActive="active"
      >Dashboard</a
    >
    <a *ngIf="logoutButton" routerLink="register" routerLinkActive="active"
      >Resister</a
    >
    <a *ngIf="loginButton" routerLink="login" routerLinkActive="active"
      >Login</a
    >
  </div>
</nav>
<div class="header-wrapper">
  <div class="small-text">
    <span *ngIf="currentUser">Current User: {{ currentUser }}</span>
    <div>
      <app-date-time></app-date-time>
    </div>
  </div>
  <button
    type="button"
    *ngIf="logoutButton"
    class="primary-colour"
    (click)="logout()"
  >
    logout
  </button>
</div>
<hr />
